/*cover image*/
.pb256 {

    padding-bottom: 39% !important;

}



/*cover image ends*/
/*--------------------------------------------------------------*/
/*News and trending begins*/

img {

    vertical-align: middle;
    border-style: none;
    height: 250px;

}

.card-img-top {
    width: auto;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}

/*News and trending ends*/
/*--------------------------------------------------------------*/
/*why climate change begins*/

.s_parallax_no_overflow_hidden{

    background-image: none;
    padding-bottom: 6%;

}

.definitions_container {

    text-align: center;
    margin-bottom: 4.16667%;

}

.definition {

    margin: 0 10px 20px;
    width: 200px;
    height: 200px;

}

.definition:hover {

    border-color: white;

}

.dot {

  height: 163px;
  width: 163px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-top: 6%;
  margin-left: 25px;

}

.a {

    margin-top: 39%;
    color: black;
    font-size: 34px;

}
.hover_title {
    display: none;
    width: 90%;
    vertical-align: middle;
    color:black;
    font-size:  34px;
    font-weight: 600;
    line-height: 1.2em;
}
.a:hover .hover_title{
    display: inline-block;
}

.dot:hover .a {
    display: inline-block;
}
/*why climate change ends*/
/*--------------------------------------------------------------*/
/*backend data starts*/

.bg-white {

    background-color: #FFFFFF !important;
    color:#212529;
    height: 100%;

}
/*.col {
    flex-basis: 0;
    flex-grow: 0;
    max-width: 100%;
}*/
.col {
    max-width: 100%;
}

/*backend data ends*/
/*--------------------------------------------------------------*/
/*.carousel-control-prev-icon,*/
.carousel-control-next-icon {

  /*background-color:#423f40;*/
  border: 0;
  border-radius: 50% 0 0 50%;
  bottom: 0;
  height: 80px;
  margin: 0;
  margin-left: 0px;
  right: -40px;
  text-align: center;
  top: 50%;
  width: 80px;
  margin-bottom: 95%;
  margin-left: 72%;
}
.carousel-control-prev-icon{
    /*background-color:#423f40;*/
  border: 0;
  border-radius: 0 50% 50% 0;
  bottom: 0;
  height: 80px;
  margin: 0;
  margin-left: 0px;
  right: -40px;
  text-align: center;
  top: 50%;
  width: 80px;
  margin-bottom: 95%;
  margin-right: 74%;
  }


  ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #547d18;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    background-color: #111;
}

ul.topnav li a.active {
    background-color: #4CAF50;
}

ul.topnav li.right {
    float: right;
}

@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li {float: none;}
}
h1:target {
    color: white;
    background: #1c87c9;
}
 ul.topnav1 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}


.s_carousel.s_carousel_default .carousel-control-prev-icon:before, .s_carousel.s_carousel_default .carousel-control-next-icon:before, .s_quotes_carousel.s_carousel_default .carousel-control-prev-icon:before, .s_quotes_carousel.s_carousel_default .carousel-control-next-icon:before {
    background-color: transparent;
    font-size: 2rem;
    color: #101010;
    text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}
